---
title: 2015 Resolutionator For Work
---

<div class="wrapper">
  <header class="header">
    <div class="row">
      <div class="small-12 medium-12 large-9 small-centered columns">
        <h1>What is your 2015 new year resolution <%= link_to "for life", "index.html" %>, <span class="toggle">for work</span>, <%= link_to "for funsies", "for-funsies.html" %>?</h1>
      </div>
    </div>
  </header>

  <div class="resolution">
    <div class="row">
      <div class="small-12 medium-12 large-2 small-centered medium-uncentered columns">
        <h4>In 2015, I will</h4>
      </div>
      <div class="machineContainer">
        <div class="small-12 medium-4 large-3 small-centered medium-uncentered columns">
          <div id="selection1" class="textMachine">
            <!-- verb -->
            <%= partial "verb-work" %>
          </div>
        </div>

        <div class="small-12 medium-4 large-3 small-centered medium-uncentered columns">
          <div id="selection2" class="textMachine">
            <!-- subject -->
            <%= partial "subject-work" %>
          </div>
        </div>

        <div class="small-12 medium-4 large-3 small-centered medium-uncentered columns">
          <div id="selection3" class="textMachine">
            <!-- conditional -->
            <%= partial "condition-work" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 small-centered columns">
        <button class="button radius" id="goButton">Generate My Resolution</button>
      </div>
    </div>
  </div>

  <%= partial "_social" %>
  <div class="push"></div>
</div>
